{% extends 'base.html' %}
{% block 'content' %}


<div class="app-container">


    <aside class="sidebar">

        <div class="brand">
            <i class="fas fa-book"></i>
            <h2>
                Study Tracker
                <span>Semester 3</span>
            </h2>
        </div>

        <nav class="nav-menu">
            <a href="/deshboard_subjects/" class="nav-item ">
                <i class="fas fa-home"></i>
                Dashboard
            </a>

            <a href="/subjects/" class="nav-item">
                <i class="fas fa-book-open"></i>
                Subjects
            </a>

            <a href="/topics/" class="nav-item">
                <i class="fas fa-tasks"></i>
                Topic
            </a>

            
        </nav>

        <div class="logout">
            <a href="/login/" class="nav-item">
                <i class="fas fa-sign-out-alt"></i>
                Logout
            </a>
        </div>

    </aside>

    <div class="subject-page">

    <div class="subject-page-header">
        <div>
            <h1>Add Subject</h1>
            <p>Add a new subject to your study list.</p>
        </div>

        <a href="/subjects/" class="add-subject-btn">← Back to Subjects</a>
    </div>


    <div class="add-subject-card">

        <div class="form-title">
            <div class="form-icon">
                <i class="fa-solid fa-book"></i>
            </div>

            <div>
                <h2>Subject Details</h2>
                <p>Enter the details of the new subject.</p>
            </div>
        </div>

        {% if error %}

                <div class="error-page">

        
                <div class="error-card">

                <div class="error-icon">
                    <i class="fa-solid fa-triangle-exclamation"></i>
                </div>

                

                <h4>Something went wrong</h4>

                <p>
                    {{error}}
                </p>


            </div>

        </div>

{% endif %}


        <form method="POST">
            {% csrf_token %}

            <div class="form-group">
            
                <label for="subject_id">Subject ID:</label>
                <input type="test" name="sub_id">
            
            </div>

            <div class="form-group">
            
                <label for="subject_name">Subject Name:</label>
                <input type="test" name="sub_name">
            
            </div>

            <div class="form-group">
            
                <label for="subject_code">Subject Code:</label>
                <input type="test" name="sub_code">
            
            </div>

            <div class="form-group">
            
                <lable for="sub_type">Subject Type:</lable>
                <select name="sub_type">
                    <option>-----Choose Type Of subject-------</option>
                    <option>Major</option>
                    <option>Minor</option>
                    <option>MDC</option>
                    <option>AEC</option>
                    <option>SEC</option>
                    <option>VAC</option>
                </select>
            
            </div>


            <div class="form-group">
                <lable>Subject Nature:</lable>
                <select name="sub_nature">
                    <option>--------Choose Subject Nature--------</option>
                    <option>Practical</option>
                    <option>Theory</option>
                    <option>Both</option>
                </select>
                
            
            </div>

            <div class="form-group">
                <lable>Description:</lable>
                <textarea cols="100" rows="5" name="desc"></textarea>     
            
            </div>


            <div class="form-row">

                <div class="form-group">
                    <label for="credit">Credit</label>
                    <input
                        type="number"
                        id="credit"
                        name="credit"
        
                    >
                </div>

                <div class="form-row">

                <div class="form-group">
                    <label for="progress">Progress</label>
                    <input
                        type="number"
                        id="progress"
                        name="progress"
        
                    >
                </div>

                </div>

            </div>


            <div class="form-actions">

                <button type="submit" class="btn btn-purple">
                    <i class="fa-solid fa-plus"></i>
                    Add Subject
                </button>

                <a href="#" class="btn btn-secondary">
                    Cancel
                </a>

            </div>

        </form>

    </div>

</div>

    <!-- <h1>Add Subjects</h1>
    <form method="post">
        {% csrf_token %}
        <table border="2">
            <tr>
                <td><lable>Subject ID:</lable></td>
                <td><input type="test" name="sub_id"></td>
            </tr>

            <tr>
                <td><lable>Subject Name:</lable></td>
                <td><input type="test" name="sub_name"></td>
            </tr>

            <tr>
                <td><lable>Subject Code:</lable></td>
                <td><input type="test" name="sub_code"></td>
            </tr>

            <tr>
                <td><lable>Subject Type:</lable></td>
                <td><select name="sub_type">
                    <option>-----Choose Type Of subject-------</option>
                    <option>Major</option>
                    <option>Minor</option>
                    <option>MDC</option>
                    <option>AEC</option>
                    <option>SEC</option>
                    <option>VAC</option>
                </select></td>
            </tr>

            <tr>
                <td><lable>Subject Nature:</lable></td>
                <td><select name="sub_nature">
                    <option>--------Choose Subject Nature--------</option>
                    <option>Practical</option>
                    <option>Theory</option>
                    <option>Both</option>
                </select></td>
            </tr>
        
            <tr>
                <td><lable>Subject Credit:</lable></td>
                <td><input type="test" name="credit"></td>
            </tr>

             <tr>
                <td><lable>Progress :</lable></td>
                <td><input type="number" name="progress"></td>
            </tr>

            <tr>
                <td colspan="2" align="center"><input type="submit"></td>
            </tr>

        </table>
    </form>
    -->
    </div>
{% endblock %}