{% extends 'base.html' %}
{% block 'content' %}

<div class="app-container">


    <aside class="sidebar">

        <div class="brand">
            <i class="fas fa-book"></i>
            <h2>
                Study Tracker
                <span>Semester 3</span>
            </h2>
        </div>

        <nav class="nav-menu">
            <a href="/deshboard_subjects/" class="nav-item ">
                <i class="fas fa-home"></i>
                Dashboard
            </a>

            <a href="/subjects/" class="nav-item">
                <i class="fas fa-book-open"></i>
                Subjects
            </a>

            <a href="/topics/" class="nav-item">
                <i class="fas fa-tasks"></i>
                Topic
            </a>

            
        </nav>

        <div class="logout">
            <a href="/login/" class="nav-item">
                <i class="fas fa-sign-out-alt"></i>
                Logout
            </a>
        </div>

    </aside>

    
       <div class="single-subject-page">

    <div class="subject-page-header">
        <div>
            <h1>Subject Details</h1>
            <p>View complete subject information</p>
        </div>

        <a href="/subjects/" class="add-subject-btn">
            ← Back to Subjects
        </a>
    </div>


    
    <form method="POST" action="/subjects/searchsinglesub/" class="delete-search" >
            {% csrf_token %}
            <div class="search-box">
                <input type="text" placeholder="Search topics by name" name="s" >
            `   <button type="submit">🔍</button>
        </div>
    </form>
        

    
        

    {% if error %}

                <div class="error-page">

        
                <div class="error-card">

                <div class="error-icon">
                    <i class="fa-solid fa-triangle-exclamation"></i>
                </div>

                

                <h4>Something went wrong</h4>

                <p>
                    {{error}}
                </p>


            </div>

        </div>

{% endif %}<br>
    {% if data %}

    <div class="single-subject-card">

    <h1>{{ data.sub_name }}</h1>

    <div class="subject-card">
        <div class="progress-bar">
                        <div class="progress-fill" style="width: {{data.prog}}%;"></div>
                    </div>

                    <div class="progress-info">
                        <span>Progress</span>
                        <span>{{data.prog}}%</span>
                    </div>
                
    </div>

    <p><b>Subject ID:</b> {{ data.sub_id }}</p>

    <p><b>Subject Code:</b> {{ data.sub_code }}</p>

    <p><b>Subject Type:</b> {{ data.sub_type }}</p>

    <p><b>Subject Nature:</b> {{ data.sub_nature }}</p>

    <p><b>Subject Credit:</b> {{ data.credit }}</p>

    <p><b>Total Topics:</b> {{ topic_count }}</p>

    <p>
        <b>Description:</b>
        {{ data.desc}}
    </p>

    <div class="subject-buttons">
        <a href="/subjects/update/{{data.sub_name}}" class="btn btn-purple">Update</a>


        <a href="/subjects/maindelete/{{data.sub_name}}" class="btn btn-danger">Delete</a>
    </div>

    


</div>
</div>
{% endif %}




    </div>
    
    </div>
    </div>

      
      

      {% endblock %}
